.popup__button {
  margin: 0;
  border: none;
  border-radius: 2px;
  background-color: black;
  align-self: center;
  min-height: 50px;
  max-width: 358px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 600px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
