.popup__button_disabled {
  background-color: transparent;
  border: solid 1px black;
  border-radius: 2px;
  color: black;
  opacity: .2;
}

.popup__button_disabled:hover {
  background-color: transparent;
  cursor: default;
}
